.titleText {
    color: aliceblue;
    font-size: 36px;
}

.baseText {
    color: aliceblue; 
    font-size: 16px;
}

.textboxStyle {
    margin: 8px 0;
    border: 2px solid;
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom-color: darkcyan;
    border-top-color: darkcyan;
    border-right-color: darkcyan;
    border-left-color: darkcyan;
    background-color: dimgrey;
    color: aliceblue;
}

.buttonStyle {
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom-color: darkcyan;
    border-top-color: darkcyan;
    border-right-color: darkcyan;
    border-left-color: darkcyan;   
    background-color: transparent;
    color: aliceblue;
    font-weight: bold;
}