.titleText {
    color: aliceblue;
    font-size: 36px;
}

.headerText {
    margin-left: 5%;
    color: aliceblue;
    font-size: 26px;
}

.baseText {
    color: aliceblue;
    font-size: 16px;
    margin-left: 5%;
}

.bottomText {
    color: aliceblue;
    font-size: 16px;
    margin-left: 5%;
    position: fixed;
    bottom: 0;
}

.gameDetailsTable{
    font-size: 16px;
    margin-left: 5%;
    color: aliceblue;
    align-items: baseline;
}

.textboxStyle {
    margin: 8px 0;
    border: 2px solid;
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom-color: darkcyan;
    border-top-color: darkcyan;
    border-right-color: darkcyan;
    border-left-color: darkcyan;
    background-color: dimgrey;
    color: aliceblue;
}

.buttonStyle {
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom-color: darkcyan;
    border-top-color: darkcyan;
    border-right-color: darkcyan;
    border-left-color: darkcyan;
    background-color: transparent;
    color: aliceblue;
    font-weight: bold;
}

.TableNameStyle {
    margin: 8px 0;
    border: 2px solid;
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom-color: darkcyan;
    border-top-color: darkcyan;
    border-right-color: darkcyan;
    border-left-color: darkcyan;
    background-color: dimgrey;
    color: aliceblue;
    font-weight: bold;
}

.TableDataStyle {
    margin-left: 5%;
    border: 2px solid;
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom-color: darkcyan;
    border-top-color: darkcyan;
    border-right-color: darkcyan;
    border-left-color: darkcyan;
    background-color: dimgrey;
    color: aliceblue;
}