<form>
    <p>
        <label class="baseText">Name:</label>
        <input class="textboxStyle" type="text" id="inputName">
    </p>
    <p>
        <label class="baseText">Description:</label>
        <input class="textboxStyle" type="text" id="inputDescription">
    </p>
    <p>
        <button style="margin-left: 5%;" class="buttonStyle" type="submit" id="buttonCancel">Cancel</button>
        <button style="margin-left: 5%;" class="buttonStyle" type="submit" id="buttonCreate">Create</button>
    </p>
</form>