<table style="color: blanchedalmond;">
    <tr>
        <td>|Name|</td>
        <td>|Year|</td>
        <td>|Min Players|</td>
        <td>|Max Players|</td>
        <td>|Description|</td>
        <td>|Price|</td>
        <td>|Designer|</td>
    </tr>
    <div id="gameContainer">{{gameDetailsTemplate}}</div>
</table>