<table>
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Min Players</th>
        <th>Max Players</th>
        <th>Description</th>
        <th>Price</th>
        <th>Designer</th>
    </tr>
    <div id="gameSearchInfo"></div>
</table>