<table align="center">
    <tr>
        <td>
            <input class="textboxStyle" id="txt_Search_Games" 
                type="search" size="50px" >
        </td>
        <td>
            <button id="buttonSearch" class="buttonStyle">SEARCH</button>
        </td>
    </tr>
</table>
<div id="searchContent">
    {{> tableGamesTemplate}}
</div>