<table align="center">
    <tr>
        <td class="TableNameStyle">Name</td>
        <td class="TableNameStyle">Year</td>
        <td class="TableNameStyle">Rating</td>
    </tr>
    {{#each games.body.games}}
        <tr class="TableDataStyle">
            <td> <a style="color: aliceblue;" href="#gameDetails/{{id}}">{{name}}</a></td>
            <td>{{year_published}}</td>
            <td>{{average_user_rating}}</td>
        </tr>
    {{/each}}
</table>