<table align="center">
    <tr>
        <td class="TableNameStyle">Name</td>
        <td class="TableNameStyle">Year</td>
        <td class="TableNameStyle">Rating</td>
        <!--
        <td class="TableNameStyle">Min Players</td>
        <td class="TableNameStyle">Max Players</td>
        <td class="TableNameStyle">Description</td>
        <td class="TableNameStyle">Price</td>
        <td class="TableNameStyle">Designer</td>
        -->
    </tr>
    {{#each games.games}}
        <tr class="TableDataStyle">
            <td> <a style="color: aliceblue;" href="#gameDetails/{{id}}">{{name}}</a></td>
            <td>{{year_published}}</td>
            <td>{{average_user_rating}}</td>
        </tr>
    {{/each}}
</table>