<table align="center">
    <tr>
        <td class="TableNameStyle">Name</td>
        <td class="TableNameStyle">Year</td>
        <td class="TableNameStyle">Rating</td>
    </tr>
    {{#each games.body.games}}
        <tr>
            <td class="TableDataStyle"> <a style="color: aliceblue;" href="#gameDetails/{{id}}">{{name}}</a></td>
            <td class="TableDataStyle">{{year_published}}</td>
            <td class="TableDataStyle">{{average_user_rating}}</td>
        </tr>
    {{/each}}
</table>