<table align="center">
    <tr>
        <td class="TableNameStyle">Name</td>
        <td class="TableNameStyle">Num of Games</td>
    </tr>
    {{#each groups.groups}}
        <tr class="TableDataStyle">
            <td> <a style="color: aliceblue;" href="#groups/{{id}}">{{name}}</a></td>
            <td>{{games.length}}</td>
        </tr>
    {{/each}}
</table>