<h2 class="header2Text">
    <div id="groupName">{{groups.name}}</div>
</h2>
<table style="width: 100%; margin-bottom: 1%;">
    <tr>
        <td bgcolor="#ff9900" colspan="20"></td>
    </tr>
</table>
<table class="DescriptionBox" style="margin-left: 5%;margin-right: 5%;">
    <tr>
        <td>
            <div id="groupDesc">{{{groups.description}}}</div>
        </td>
    </tr>
</table>

<div id="groupGamesTable">
    {{>tableGamesGroupTemplate}}
</div>

{{#if groups.games}}
<table align="center" style="padding: 2%; margin-top: 5%;">
    <tr>
        <td>
            <label class="baseText">Min playtime:</label>
        </td>
        <td>
            <input class="textboxStyle" type="number" id="inputMin">
        </td>
        <td>
            <label class="baseText">Max playtime:</label>
        </td>
        <td>
            <input class="textboxStyle" type="number" id="inputMax">
        </td>
        <td>
            <button class="buttonStyle" type="submit" id="buttonFilter">Filter</button>
        </td>
    </tr>
</table>
{{/if}}

<button style="margin-left: 5%;" class="buttonStyle" type="submit" id="buttonEditGroup">Edit</button>