<table align="center">
    <tr>
        <td class="TableNameStyle">Name</td>
    </tr>
    
    {{#each groups.body}}
        <tr>
            <td  class="TableDataStyle"> <a style="color: aliceblue;" href="#addToGroup/{{id}}/{{gameId}}">{{name}}</a></td>
        </tr>
    {{/each}}
</table>