<h2 class="headerText">{{groups.body.name}}</h2>
<table style="width: 100%; margin-bottom: 2%;">
    <tr>
        <td bgcolor="#ff9900" colspan="20"></td>
    </tr>
</table>

<table align="center">
    <tr>
        <td class="TableNameStyle">Name</td>
    </tr>
    {{#each groups.body.games}}
    <tr class="TableDataStyle">
        <td> <a style="color: aliceblue;" href="#gameDetails/{{id}}">{{name}}</a></td>
    </tr>
    {{/each}}
</table>