<form>
    <p>
        <label class="baseText">Username:</label>
        <input class="textboxStyle" type="text" id="inputUsername">
    </p>
    <p>
        <label class="baseText">Password:</label>
        <input class="textboxStyle" type="password" id="inputPassword">
    </p>
    <p>
        <button class="buttonStyle" type="submit" id="buttonSignup">Signup</button>
        <button class="buttonStyle" type="submit" id="buttonLogin">Login</button>
    </p>
</form>
